nav {
  position: relative;
}

nav:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background-image: url("/assets/background.png");
  background-repeat: repeat;
  z-index: -1;
}
